@page
@model AboutModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<link href="~/css/scrollbar.css" rel="stylesheet" />
<link href="~/css/Profilecards.css" rel="stylesheet" />
<link href="~/css/aritststyling.css" rel="stylesheet" />
<body>

    <center><img src="~/images/artists.png" alt="Alternate Text" style="width:1300px;height:1200px" /></center>
</body>
<b><center><h1>Artist Influencers</h1></center></b>


<center>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Jeon Jungkook</h2>

                <img src="~/images/jkprofile.gif" alt="#" style="width:500px;height:500px">
            </div>
            <div class="flip-box-back">
                <h2>Jeon Jungkook</h2>


                <p>Skill set: Main Vocalist/Sub rapper/Black belt in Taekwanado</p>

                <p>
                    October 2016 is when BTS has finally released their 2nd edition of the wings series and each memeber in the group has their own
                    solo songs. Jeon Jungkook's is "Begin" and within that song it was a way for him to be able to really show his fans what he is going through.
                    Jungkook also goes by as the golden maknae often referred as the youngest one in the group. However ever since their company, big hit entertainment
                    has recuited five new idols he has become Hyung. In Korea hyung means older brother but that isn't the only alternative name he goes by. In addition to that
                    his other nicknames are: Jungkookie, Jungkookie hyung, or Kookie. Often times fans like to make unique stage names for him when he has
                    hit a record. At one point one of the songs Jeon Jungkook starred in is "Euphoria" he earned the title: Euphora went gold when it trended extremely well.
                </p>

                <p><iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/634448904&color=%23f0b2a4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></p>
            </div>
        </div>
    </div>
</center>

<div>
</div>

<center>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Kim Namjoon</h2>

                <img src="~/images/namjoonbts.gif" alt="#" style="width:500px;height:550px">
            </div>
            <div class="flip-box-back">
                <h2>Kim Namjoon</h2>
                <p>Skill set: Leader/Rapper/Vocalist/Trilingual</p>
                <p>
                    Kim Namjoon can speak: English, Korean, and Japanese. He has taught himself English by watching American tv shows such as
                    "Friends" and eventually understood English very well. Currently he is the only memeber who is fluent in english but the other members also take
                    the time to learn other langauges as well. Namjoon is known being a genius lyrics and is a rapping legend.
                </p>
                <p><iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/573285855&color=%23f0b2a4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></p>
            </div>
        </div>
    </div>
</center>



<center>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Kim Seokjin</h2>

                <img src="~/images/jintime.gif" alt="#" style="width:500px;height:500px">
            </div>
            <div class="flip-box-back">
                <h2>Kim Seokjin</h2>
                <p>Skill set: Vocalist/ Comedian/Wisest one</p>
                <p>
                    Kim Seokjin is the oldest one in the group but he defiantly has a playful personality. Seokjin is one of those idols who goes by his rules and somehow others
                    just follow what he says. One time he posted on twitter he was cutting his hair without the company's consent but that does show he has a daring side that he isn't afraid to
                    express what he wants to do rather than just to confide in the rules all the time. Seokjin is also the vocalist of the group with a sense of humor. He always enjoys
                    telling jokes to fans and members. Sometimes the members know what he joking about and he has a disappointed face but the jokes always comes in handy espwecially during those interviews.
                </p>

                <p><iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/300464653&color=%23c14754&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></p>
            </div>
        </div>
    </div>
</center>

<center>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Min Yoongi</h2>

                <img src="~/images/unicefsuga.gif" alt="#" style="width:500px;height:500px">
            </div>
            <div class="flip-box-back">
                <h2>Min Yoongi</h2>
                <p>Skills set: Rapper/Vocalist/Plays the piano/Doesn't hold anything back</p>
                <p>
                    Min Yoongi but his stage names are: August D and Suga. He is the rapper of the group and his speciality is that really doesn't sugar coat
                    anything and will straight up tell you how it is and even towards his fans. Min Yoongi also compososes his own songs and have collaborated with
                    artists such as: Epik High, and Lee Sora. Although he often looks tough he really does have a sweet side towards him.
                </p>

                <p><iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/312437998&color=%23f0b2a4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></p>
            </div>
        </div>
    </div>
</center>

<center>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Kim Taehyung</h2>

                <img src="~/images/tae2.gif" alt="#" style="width:500px;height:500px">
            </div>
            <div class="flip-box-back">
                <h2>Kim Taehyung</h2>

                <h2></h2>
                <p>Skills set: Actor/Secretly a rapper/Dancer/Vocalist</p>
                <p>
                    Kim Taehyung is a actor, and another vocalist of the group who use to be a hidden member of the group. In other words he couldn't be revealed to the
                    public for the longest time. Later on his career he has debuted in the Korean drama "Hwrang" and played as one of the main characters and starred in the OST
                    "Even if I die it's you" with one of the other bts member, Kim Seokjin. Taehyung is known for his love of of: gucci, panda express, and his puppy Yeontan. Kim
                    Taehyung can also speak Japanese and some Chinese as well. As most idols are normally required to speak more than one langauge due to traveling to various countries for
                    shows.
                </p>

                <p><iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/440446458&color=%23c14754&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></p>
            </div>
        </div>
    </div>
</center>

<center>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Park Jimin</h2>

                <img src="~/images/jimintime.gif" alt="#" style="width:500px;height:500px">
            </div>
            <div class="flip-box-back">
                <h2>Park Jimin</h2>
                <p>Skills Set: Vocalist/Dance flips & trained in modern dancing/Charming</p>
                <p>
                    Park Jimin the boy next door that is very skilled in singing, dancing, and charming people. Truly known for being the kindest idol he really has a geniune heart and smile
                    that can melt the heart of others. Park Jimin's other nicknames are: Mochi, pink mochi, chimmy or chim chim that is given by his fans due to his various actions he's done. For example
                    during a BTS comeback era he has dyed his hair pink and therefore he is known as pink mochi. Mochi is a snack that is originated in Japan and the texture is very squishy and fans always
                    like to say they want to squeeze his cheeks so that is why he is nicknamed pink mochi. His other nickname is chimmy which is the BT21 character he had come up with when they were creating
                    their line of merch. Each member drew a character based on their personality and Jimin drew a puppy named chimmy which refers to being friendly and playful.
                </p>

                <p><iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/341877086&color=%23c14754&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></p>
            </div>
        </div>
    </div>
</center>

<center>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>Jung Hoseok</h2>

                <img src="~/images/hope1.gif" alt="#" style="width:500px;height:550px">
            </div>
            <div class="flip-box-back">
                <h2>Jung Hoseok</h2>
                <p>Skills set: Dancing King/Vocalist/Rapper</p>
                <p>
                    Jung Hoseok who also goes by J-hope or Hobi is really the sunshine member of the group. His name means light and the hope for everyone. He is also the main dancer who teaches
                    dancing and have also taugh big hit entertainment's new idol group: TXT during their trainee days. Aside from that he is also the vocalist and rapper of the group and have releaed
                    a mixtape under the name "Hope world" which he was kind enough to release it for free for fans on soundcloud.

                </p>

                <p><iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/407002644&color=%23c14754&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></p>

            </div>
        </div>
    </div>
</center>
