@page
@model ContactModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


<html>
<title>Influencer's page</title>

<title>Music</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div class="w3-container">

        <link href="~/css/scrollbar.css" rel="stylesheet" />
    </div>

    <div class="w3-panel w3-blue">
        <h1 class="w3-text-orange" style="text-shadow:1px 1px 0 #444">
            <center>
                <b>Billboard Artist profile: Steve Aoiki </b>
                <iframe width="800" height="850" src="https://www.youtube.com/embed/ixxR3ZoqnF0?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</h1></center>
    </div>
    </div>
</body>
</hml>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>

<body class="w3-light-grey">
    <!-- Page Container -->

    <div class="w3-content w3-margin-top" style="max-width:1400px;">
        <!-- The Grid -->

        <div class="w3-row-padding">
            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="~/images/aoiki.jpg" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                        </div>
                    </div>
                    <div class="w3-container">
                        <p> <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"> </i> DJ</p>
                        <p> <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"> </i> Miami, FL</p>
                        <p> <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"> </i> Married to: iernan Cowling (Since 2015)</p>
                        <hr>

                        <p class="w3-large"> <b> <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-yellow"> </i> Skills</b> </p>
                        <b><center><p>Remixer</p></center></b>

                        <center> <iframe width="350" height="250" src="https://www.youtube.com/embed/vKIR2g-Lo8E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>


                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-yellow" style="width:90%"> 90%</div>
                        </div>
                        <p> </p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-yellow" style="width:80%">
                                <div class="w3-center w3-text-white"> 80%</div>
                            </div>
                        </div>

                        <p>Influencer</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%"> 80%</div>
                        </div>

                        <p>Production </p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%"> 90%</div>
                        </div>
                        <br>

                        <p class="w3-large w3-text-theme"> <b> <i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"> </i> Languages</b> </p>
                        <p> English</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-blue" style="height:24px;width:90%"> </div>
                        </div>
                        <p>Japanese</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-blue" style="height:24px;width:95%"> </div>
                        </div>

                        <br>
                    </div>
                </div> <br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"> <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-black"> </i> Work Experience</h2>
                    <div class="w3-container">
                        <center> <h5 class="w3-opacity"> <b> Billboard artist / DJ master </b></h5></center>
                        <h6 class="w3-text-black"> <i class="fa fa-calendar fa-fw w3-margin-right"> </i> Jan 2019 - <span class="w3-tag w3-teal w3-round"> Current</span> </h6>
                        <p>
                            Ranked to be the 5th highest paying DJ Aioki and as a producer he said has several of his own mix
                            albums. Considered to be one of the top DJ's because he has also collaborated with other artists
                            such as: Jackson 5, Kanye West, Eminem, Snoop Dogg and even BTS themselves. As a artist he has not only
                            produced his own mixed but have collaborated with many others as well. Aioki has his own music channel
                            on Youtube which is a successful hit which is named Ultra music. Aioki has also collborated with artists
                            such as BTS with the song "Waste it on me" and also "Micdrop remix" from their original micdrop in their love
                            yourself album series. Although this isn't their first time working with other DJ's this is probably
                            one of the most successful team collobarations that they have. His motto is "Always on tour" and that means he is someone who
                            always having something to since he is so passionate about music.

                            <center>
                                <img src="~/images/albums1.jpg" alt="1" width="150" height="150" />
                                <img src="~/images/album2.jpg" alt="2" width="150" height="150" />
                                <img src="~/images/album3.jpg" alt="3" width="150" height="150" />
                            </center>
                        </p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <center> <h5 class="w3-opacity"> <b> Work Experience timeline:</b> </h5></center>
                        <p>
                            <ul>
                        <p>

                            1996: Created the world famous label Dim Mak records was the beginning of the label.
                        </p>
                        <p>
                            1. Pillowface & His Airplane Chronicles, on Thrive Records. Featuring tracks by Justice, Klaxons, Mystery Jets, Peaches, Datarock, Yelle, Franz Ferdinand, Bloc Party, and Scanners (majority ones are remixed)
                            2. Pillowface & His Airplane Chronicles represented Aoki's renown as a taste-making dance party DJ. The mix peaked has been ranked as one of the Top Ten of the U.S. Dance chart.
                        </p>
                        <p>In 2007 it was Aoiki's very first official complication of CD.<p />
                        <p>In late 2012, he released his first EP, It's the End of the World as We Know It.</p>
                        <p>2014 Aoiki has released his album work for Neon future volume 1 and it was also being marketed as one of the albums that have made it to be able to top the billboard ranking.</p>
                        </ul>

                        <hr>
                    </div>
                    <div class="w3-container">
                        <center> <h5 class="w3-opacity"> <b>Other project experiences:</b> </h5></center>
                        <center>
                            <img src="~/images/album4.jpg" alt="4" width="150" height="150" />
                            <img src="~/images/micdrop1.gif" alt="Alternate Text" width="150" height="150" />
                            <img src="~/images/steveaoiki.png" alt="Alternate Text" width="150" height="150" />
                        </center>
                        </i></h6>
                        <p>
                            <div class="w3-container">
                                <h5 class="w3-opacity"> <b>Projects</b> </h5>
                        <p>Collaborations with other artists:</p>
                        <ul>
                            <li>Kim Namjoon</li>
                            <li>Park Jimin</li>
                            <li>Jeon Jungkook</li>
                            <li>Min Yoongi</li>
                            <li>Jung Hoseok</li>
                            <li>Kim Taehyung</li>
                            <li>Kim Seokjin</li>
                        </ul>

                        <ul>
                            <li>Waste it on me (Featuring: Jeon Jungkook, Kim Namjoon, and Park Jimin released in 2018)</li>
                            <li>BTS micdrop remix full length (Remixed by Steve Aoiki released in 2018)</li>
                        </ul>

                        <hr>
                    </div> </p> <br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End of the Grid -->
    </div>

    <!-- At the end Page Container  -->
    </div>

    <left><img src="~/images/aoikibts.jpg" alt="Alternate Text" width=100% /></left>


    <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p><a href="https://www.w3schools.com/w3css/default.asp" target="_blank">
    </footer>
</body>
</html>