@page
@model blog2Model
@{
}

<link href="~/css/blogging.css" rel="stylesheet" />
<link href="~/css/scrollbar.css" rel="stylesheet" />

<div class="card">
    <CENTER>
        <h2>Theories</h2>
        <p>Analyzing theories about bighit's storyline</p>
    </CENTER>
    <center><img src="~/images/theorieds.jpg" alt="Alternate Text" width="800" height="800"></center>

    <p>
        Bighit entertainment is one of those company's that likes to leave the fans hanging with a very intriguing storyline about how everything in the BTS world started. From the beginning of
        their debut music video "No more dream" and up to now "Lights" they've been leaving all sorts of clues that also points what their next comeback is. It isn't easy since they hide their details so well but
        sometines it can be pretty obvious too. Lets take a look at this album! They didn't use these colors just because it is appealing and pretty to stare at but there is some symbolism behind it. Although most albums
        don't always have a hint on it majority of it may have some clues about various hints.
    </p>

    <center>
        <b><p>Things that could be a hint:</p></b>
        <li>Album covers</li>
        <li>Dance performences</li>
        <li>Twitter tweets</li>
        <li>Props they hold in photos</li>
        <li>Emojis they tweet</li>
        <li>Logos</li>
    </center>

    <center>
        <h1>Blue and purple shades = upcoming albums?</h1>
        <img src="~/images/jinpersona.jpg" alt="theorytime" />
        <h1>Hints about upcoming comeback</h1>
        <p>
            Depending on the hue of the color this dicdates a album series which the very next one this one fan has predicted is that blue presents the shadow's ego which is the next upcoming theme. It is tough to say if this theory is correct but
            they seem to be on the right track that another color defiantly means something important and shouldn't be just dismissed. Symbols are hidden and even found when idol's are performing. For example the word "PERSONA" was discovered on Kim Seokjin's
            shirt was foreshadowing the release of map of the soul persona.
        </p>
    </center>

    <center>
        <img src="~/images/theory1.jpg" alt="theory2" />
        <p>
            Even going way back from "No more dream" their music video is somehow connected to the map of soul which RM have starred in. If you take a look at what is behind the members it is a chalkboard that they covered up but it was
            the same board that has been revealed in PERSONA. This is saying that each music video is somehow connected to one another and that if you watch them all from the beginning of 2013 you could
            perhaps uncover what is possibly a true storyline?
        </p>
    </center>
</div>
    </div>

<div class="card">
    <CENTER>
    </CENTER>
    <center><img src="~/images/universe.png" alt="Alternate Text" width="720" height="270"></center>
    <b><center><h2>Tech in Asia: Wechat and Weibo</h2></center></b>

    <p>
        Wechat pay is defiantly Asia's new trend of paying as they are already advanced in technolgy they of course want to make payment go smoother and quicker for their customers too. Wechat pay is already
        accepted in over 800,000+ stores and it is also user friendly wh ich means that even people who don't own a Chinese bank account and is there to travel they can still pay with this system. Wechat is
        China's social media platform (that hasn't been blocked by the goverment) unlike where the south side of China cannot access various media sites like: Snapchat, Youtube, google, Twitter, or even Facebook.
        The Goverment over there has a high security level in watching over what they use when it comes to the internet so having Wechat messenger is already great. In fact China also has their own versions of our media
        platforms. They have Weibo which is very similiar to facebook and QQ a messenger app that is much like google hangout chat but with games and the ability to customize your avatar.
    </p>

    <center><img src="~/images/weibocontent .png" alt="media" width="600" height="400" /></center>

    <p>
        Let me introduce to you what weibo is. Much like facebook Chinese citizens can upload what they do on these platforms. Sharing with others what their up to, or where they are going. Of course you can't block everyone from
        connecting with each other but they are limited to connecting only within China. So on weibo you won't be hearing about the next movie launching in North America's cinema because that has nothing to do with China so they don't deliver
        those type of contents.
    </p>

    <p>
        However seeing as technology is evolving there is always a loophole and a way to break from the security sytem and still be able to view those content. There is a application called: VPN which stands for virtual private network and if you're lucky
        and you find a good application you can defiantly cross the servers. Some require you to pay a monthly fee to access their features and some are completelty free whichever the case is they created this for a reason. Thinking about the marketing strategy on how
        people will be willing to pay to access "exclusive" normally not seen by the public's eyes content is a good way to pocket some cash.
    </p>

    <p>
        When I was traveling in china of course I had to use VPN but I had to install the app before I went into south china becauuse they even block you from downloading it. So if you want to even access VPN in China you have to go to another part of Asia to download it because it is consider
        to be a third party app. Since China does block a lot of content it is surprising to say they still have Korean pop content on their Weibo official page because they normally do not allow Korean concerts being held in some locations
    </p>

    <center><img src="~/images/wechatsteps.png" alt="Alternate Text" /></center>

    <p>
        Yes there is a quick step by step guide on how to use the function for payment process. When it comes to Wechat pay it reminds me of the Amazon fresh idea where people go into the
        grocery store, pick up whatever items they want and it is automatically paid for you! I think technology like this is defiantly innovative and very creative. When I hear about things like
        this it always give more creative solutions and makes me just want to create even more. I believe that a decade ago when we didn't have technology do things for us like this we were still able to pass
        by but now it makes thing a lot more convient. It is thanks to great inventors out there that we can shop with more breeze and save a lot more time. Speaking of shopping with breeze can we just take a moment
        and not forget about those discounts and coupons? When you're shopping in China you can defiantly haggle! However keep in mind not all places will allow you to convince them to change their price. Although I have
        been able to in places like underground malls and shops such as phone cases, headphone shops and even street wear clothes. You just really have to scope and sniff for those deals and yes sometimes it takes awhile to get good deals
        but when you want to find a good bargain paitence is key! Did you know in China there are some businesses that won't even let you go to the bathroom unless you buy something from them? It sounds crazy but yes that is very common
        in their culture and they don't mean you can't use it...you just have to buy something first that's all. To them everything is business and if they find a idea to make more money then of course they will take it
        into action! (Defiantly one way to earn money but not a way to build connections with customers! It's a business strategy but it does have it's pro and cons about it)
    <p>

        <center><b> Tips on how to haggle 101:</center>
        <center><ul>
    <p>1. The less you want the item the more likely the owner will want to convince you otherwise</p>
    <p>2. Mention that other shops sell it for less is also pointing out they have competition who they are willing to buy from</p>
    <p>3. If a item such as a phone case costs $20 don't ask for $2 (Unless they are extremely generous)</p>
    <p>
        4. Sometimes the key to getting a lower price is mentioning a few less dollars but let them give a price first.
    </p>
    </ul></center></b>

    <center> <img src="~/images/example.jpg" alt="wechatuniverse" /></center>

    <p></p>
</div>

<center><h1></h1><b><button><p><a asp-page="/Lifestyleblog">Go back to previous page </a></p></button></b></h1></center>