@page
@model ConcertModeModel
@{
}

<link href="~/css/scrollbar.css" rel="stylesheet" />
<link href="~/css/concertmodealbums.css" rel="stylesheet" />

<b><center><h1>BTS concert experience mode</h1></center></b>

<center><img src="~/images/capture.gif" alt="Alternate Text" width="100%" /></center>

<b><center><h1>BTS LY Tour on October 6th and 7th 2018 </h1></center></b></center>



<center>

    <iframe width="560" height="360" src="https://www.youtube.com/embed/inLWeIX8VEs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="360" src="https://www.youtube.com/embed/5pW3hWJEL_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="360" src="https://www.youtube.com/embed/8E3aQCvhxHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="360" src="https://www.youtube.com/embed/pzHHmDumwng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<b><center><h1>BTS Speak Yourself Tour May 11th 2019</h1></center></b>
<iframe width="560" height="360" src="https://www.youtube.com/embed/9s41CVJ1OQ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="360" src="https://www.youtube.com/embed/7EFe6HE6bKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<b><center><h1>Highlight moment</h1></center></b>
<center><iframe width="580" height="380" src="https://www.youtube.com/embed/9Ql0Vjq7hmc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

<center><button><li><a asp-page="/Privacy">Privacy Policy 📔</a></li></button></center>
