@page
@model HighlightsModel
@{
}

<style>
    body {
        background-color: black;
    }
</style>


<div class="tenor-gif-embed" data-postid="8110697" data-share-method="host" data-width=95% data-aspect-ratio="1.4954954954954955"><a href="https://tenor.com/view/bts-kpop-korean-music-concert-gif-8110697"></a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>


<link href="~/css/bloghighlights.css" rel="stylesheet" />
<link href="~/css/scrollbar.css" rel="stylesheet" />
<div class="card">
    <CENTER>

        <h1>Highlight moments </h1>
    </CENTER>
    <center><img src="~/images/animatedbts.gif" alt="Alternate Text" style="height:500px;"></center>

    <center>
        <b>
            <p>
                <font color="purple">
                    There are videos filmed from the love yourself tour and the speak yourself tour which both took place in Chicago. The love yourself tour was filmed in United centeres and the speak yourself tour was
                    filmed in Soldier field where BTS performed in the stadium. In the highlights section you will find teaser videos from the concert but when you sign up or log back in <b>Concert mode</b> will appear and
                    you can watch full length videos. These were all filmed by me so if you would like a copy of it in HD (high definition) then please donate to towards my blog and you will recieve a copy of the video!
                </font>
            </p>
        </b>
    </center>

    <center>
        <p>
            <iframe width="240" height="315" src="https://www.youtube.com/embed/EpdOwIPJiIQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="240" height="315" src="https://www.youtube.com/embed/uP5whH1mOKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="240" height="315" src="https://www.youtube.com/embed/hD54WljWgs8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="240" height="315" src="https://www.youtube.com/embed/8T4LR8NuzUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>

    <center>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-ad350985-e309-4f72-b16e-9c97d79aada1"></div>
    </center>

    <center>
        <button>
            <h1><a asp-page="/ContactInfo">👉 Message me here 📨</a></h1>
        </button>
    </center>

</div>

