@page
@model LifestyleblogModel
@{
}

<link href="~/css/blogging.css" rel="stylesheet" />
<link href="~/css/scrollbar.css" rel="stylesheet" />

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/489075300&color=%23c14754&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

<div class="typeform-widget" data-url="https://xinyashan.typeform.com/to/PlmnZL" style="width: 100%; height: 300px;"></div>
<script>(function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=PlmnZL&utm_source=typeform.com-14252712-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

<div class="header">
    <img src="~/images/pinkness.gif" alt="Alternate Text" width="450" height="250" />
    <h1>欢迎到我的博客!</h1>
    <b><p>Translation: Welcome to my blog!</p></b>
</div>

<div class="card">
    <CENTER>

        <b><h2>C# Adventures: Saving the kingdom. You decide if you want to be good or evil!</h2></b>



        <center> <img src="~/images/adventuremode1.gif" alt="Al" width="1100" height="768" /></center>

        <p></p>
    </CENTER>

    <center><img src="~/images/adventuregame .png" alt="C#" width="1120" height="768"></center>

    <b><center><h1>Introduction:</h1></center></b>

    <p>
        This is a adventure game and in this game we have various questions for you to answer. So first you would be able to build up what kind
        of character you want. Next you answer some questions based on your personality! Later on you get to choose your role on what you would like to be. This is
        a mini game where your role is to save the kingdom! There is a backstory of the character so you can get a feel about what character you are playing. There is a 
        backstory for the witch and human and although both of their role is to save the kingdom they are very different and unique characters.
    </p>
    <center><p>Pick a role:</p></center>
    <center><h1><p>🧙‍♀️</p></center></h1>
    <center><p>Witch with magical power</p></center>
    <center><p><h1> 🐱‍👤</p></center></h1>
    <center><p>  Human with superpowers (Abilities such as: teleporting, extremespeed, and can KO a enemy in one hit)</p></center>

    <center><img src="~/images/citylife.gif" alt="citymode" /></center>

    <center><img src="~/images/cgame .png" alt="adventure mode" width="1120" height="768" /></center>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <b><center><h1>Newsfeed</h1></center></b>
            <center> <h2>오늘날의 세계에서 음악, 문화 및 기술의 영향</h2></center>
            <center> <h5>Translation: All about music, culture, and technology!</h5></center>

            <center>
                <b><p>What has been updated:</p></b>
                <p>[NEW] C# game: Saving the kingdom mini game 📝</p>
                <p>[NEW] Networking at a bts concert! 📝</p>
                <p>[NEW] Technology in Korea: Pocket wifi 📝</p>
                <p>[NEW] Next gen leaders and Uncif 📝</p>
                <p>[NEW] The merch culture 📝</p>
                <p>[NEW] Tech in Asia: Wechat and Weibo! 📝</p>
            </center>
        </div>
        <div class="card">
            <CENTER>
                <h2>Technology in Korea: Pocket wifi</h2>
            </CENTER>
            <center><img src="~/images/pocketwifi.jpg" alt="Alternate Text" style="height:250px;"></center>

            <p>
                Technology really has evolved and in Korea they really do have the fastest Wi-fi around. Furthermore there is a cute
                little technology device they have that is called pocket wifi! Much like a portable charger where you can carry it wherever you want
                so you can keep your phone charged up the pocket wifi will let you use internet anywhere. Korea is also to say it has the fastest wifi out of anywhere
                so really even on the go they will have jaguar speed internet.
            </p>

            <center>
                <p>
                    Pocket wifi is very convient especially for tourists and this would be a essential item. Furthermore it is a friendly user device and defiantly easy to set up so
                    customers don't have to worry about any complex set up. Anyways, here is a quick step by step on how to set it up!
                </p></center>

                <center>
                    <p>
                        (1) Turn on device
                        No setup, or cables required.
                    </p>
                </center>

                <center>
                    <p>
                        (2) Connect to network
                        Search for WiFi networks on your smartphones or computers.

                        Choose the SSID number which is written on your Pocket WiFi.

                        Enter the KEY attached to the Pocket WiFi.
                    </p>
                </center>

                <center>
                    <p>
                        (3) Enjoy the internet
                        Fits in your pocket – take it anywhere like a portable charger!

                        Connects 5 devices at the same time.

                        5 to 7 hours battery life. Same amount of battery life that is on a macbook!
                    </p>
                </center>
        </div>
    </div>

    <div class="rightcolumn">
        <div class="card">
            <center> <h2>About Me</h2></center>
            <img src="~/images/xinxin.jpg" alt="profilepicture" width="250" height="250" />
            <center><p>Author</p></center>
            <b><center>Xinya Shan</center></b>
            <ul>
                <li>Intern at i.c.stars</li>
                <li>Software developer</li>
                <li>Langauges I know: English and Cantonese</li>
                <li>Hobbies: Traveling, volleyball, learning new langauges, watching Korean dramas, gaming, table tennis, Tennis, Photography, and drawing. </li>
            </ul>
        </div>
    </div>
</div>
</div>


<div class="card">
    <CENTER>
        <b><H1>Next generation leaders & Unicef members</H1></b>
    </CENTER>

    <center><img src="~/images/unicef.gif" alt="Alternate Text" /></center>

    <center>
        <p>
            Meet the bext generation leaders who took the magazine cover of Time square by the storm. Once again they have managed to raise enough
            money to help a whole community out. The Korean UNICEF committee has said they have earned a total of $1.6 billion won through the Love Yourself
            campaign. This campaign's purpose is to end violence to keep others safe and  have a better future for youth. Kim Namjoon the leader have spoke during the speech
            because of his English abilties and made a speech thanking his fans, the people that supported him and discussed about what the love yourself album series
            really meant to him and bts. Namjoon also mentioned about six years ago they were handing out flyers for free just so people can attend their concert but even then that was
            already a privledge. They couldn't possibly imagine they be the ones who were the voices for others and standing up for what is right and raise millions to save other people's lives. '
        </p>
    </center>

    <center><img src="~/images/genleaders.jpg" alt="Alternate Text" style="height:500px;"></center>

    <p>
    </p>
</div>

<div class="card">
    <CENTER>
        <h2>Networking at a bts concert!</h2>
        <h5>Selfies were taken at United center and Solider Field in Chicago </h5>
    </CENTER>
    <center><img src="~/images/selfie1 .jpeg" alt="Alternate Text" width="680" height="480"></center>

    <p>
        They are not just a group of idols who just perform on stage and that is all they do but there are other things they have proven that they are defiantly no ordinary
        group. Lets start off with the fact that they began their career passing around flyers for fans to watch them perform and they have collected a small group of followers. From
        there on they rose to the very top and became Top social artists who have dominated worldwide. Starting from the beginning of 2013 where they have debuted in their music
        video song "No more dream" BTS have paved their way to the top. At first they began in a small company known as 1totheK which is a Korean variety channel that promotes their song up until
        the BTS wings era which they were promoted to ibighit a different Korean pop music company channel.
    </p>

    <center><img src="~/images/btsworld1.jpg" alt="Alternate Text" width="680" height="480"></center>

    <p>
        Thanks to this kind of community I met many amazing friends I am able to connect with who share the same common interest and of course the same taste in music. This is one of those
        networking events where it doesn't even take much effort because all you have to do is ask somone who their bias is and next thing you know you end up in a group chat
        talking about this with five other people. This is the kind of culture bts has created and because they are so influential and inspirational they have the power to use it for good or evil. However
        they decide to bring their fans closer together through events like this.
    </p>

    <center><img src="~/images/selca1.jpg" alt="Alternate Text" width="680" height="480"></center>

    <p>
        So what is it like networking at a bts concert? All I can say if you know bts you can make friends pretty fast before the show starts. Majority of the people there are very friendly and some even hand out
        free merchandise! Even when you are waiting in line you can make a friend on the spot. For some they are willing to just hand you freebies and others like to exchnage goodies so there are a few different type of
        people out there but most of them are friendly. I just have to say a venue like this doesn't happen often! It still amazes me that you can be in a room full of people who literally have the same amount of interest
        as you.
    </p>
</div>

<div class="card">
    <CENTER>
        <h2>Concert epic moment: Jimin, Jin, and Min Yoongi noticed me!</h2>
    </CENTER>
    <center><iframe width="580" height="380" src="https://www.youtube.com/embed/9Ql0Vjq7hmc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>></center>
    <p>
        This is one of those posts where I can't believe I can actually write about but the fact that this moment had happened and I am able to record it amazes me. So let me walk you through
        as to exactly happened. So at the very beginning Park Jimin was dancing and all of a sudden he noticed my camera and said "AYE" and just smoothly continues to walk. Next thing you know Kim Seokjin
        comes up and decides to pose right in front of my camera!! After that Min Yoongi appears...I really don't what else to say other than I am beyond happy I got to experience a moment like this! I must of saved the world
        in my past life for something like this to happen in this lifetime. All I can say is that it was full of surprises and this and because of that I don't think anyone would be able to film properly if your favorite idol
        was right in front of you. That was truly one of the most epic momments in the concert but that still doesn't top the fact that one of the members, Kim Namjoon has actually broke the mic during their performence of
        Airplane part 2. It's still funny to me that he really lives up to his name as the god of destruction because he continues to break whatever he touches. Fans even had made compilation videos of him just constantly breaking whatever
        he touches so that really shows you can't hide anything in the fandom. There is also another thing that is highly mentioned about Kim Namjoon and even this was made into a compilation. It is because whenever he reaches his hand out
        to get a handshake it doesn't get noticed and so then he just laughs and shrugs it off. However because it happens so often fans have decided they need to honor this moment even more so it can be remembered by.
    </p>
</div>

<div class="card">
    <CENTER>
        <b><h1>The merch culture</h1></b>
    </CENTER>

    <p>
        As the saying goes "When you have money there is nothing to buy and when you don't have any money there is always something you want." That is
        so true because it always happens. Are you the type of shopper that likes to buy one item from a set series or buys the whole set? What if they release a item
        from BTS that makes you want to collect everything? Here are the top 5 BTS merch that collectors normally buy.
    </p>

    <b><center><h1>1. Albums</h1></center></b>

    <center><img src="~/images/albums.jpg" alt="blog 2" /></center>
    <center>
        <p>
            Yes people love to collect albums and while there are those fans who rather just listen to the music for free for those who wants hands on merch to collect they
            look forward to the albums. Inside the album there's a large poster, various photocards and sometimes other extra goodies such as stickers and special notes. This is why albums are soughtly seeked
            after especially the older editions.
        </p>
    </center>

    <center><h2>2. Coffee coffee coffee</h2></center>
    <center><img src="~/images/btscoffee.jpg" alt="Alternate Text" style="height:250px;"></center>

    <center>
        <p>
            Instead of grabbing a average cup of joe for the morning why not have some bts coffee for a change? Yes it is just
            coffee but the way they market it is what makes it very appealing. Meet BTS COFFEE! This is their line of coffee and it is a very
            popular selling item in Korea. Collect all seven members as each flavor is different and they all have a unique
            design on it.
        </p>
    </center>

    <center><h2>3. BTS cola cola cola~</h2></center>
    <center><img src="~/images/cola.jpg" alt="Alternate Text" width="600" height="600"></center>

    <center>
        <p>
            Coca cola is also another beverage bts has been working with in their photoshoots to promote this product. Although coca cola is already a popular
            brand. Yes there is a all out photoshoot just for coca cola but it is really amazing to see how well they market this product.
        </p>
    </center>

    <b><center><h2>4. Posters</h2></center></b>
    <center><img src="~/images/posterset.jpg" alt="Alternate Text" style="height:250px;"></center>

    <center>
        <p>
            Yes posters are colletibles because there are some exclusive versions that can only be obtained through concerts, albums, stores, or even just online purchases. When it comes
            to posters they are the most sought after simply because people like to use it for decoration. Sometimes when I see how other people decorate their room
            it really inspires me to decorate as well. Although posters might be the easiest merch item to obtain if you want a certian poster the price for it can really rack up and depending
            on the member the value price for it will be able to change.
        </p>
    </center>

    <center><h2>5. Lightsticks</h2></center>
    <center><img src="~/images/merch.jpg" alt="Alternate Text" style="height:250px;"></center>
    <center>
        <p>
            Lightsticks are a essential especially if you are attending a concert or if you just like to collect them all. They usually update their lightstick
            style yearly and so fans always like to get the new one simply because of new functions. Although you can still enter into the concert whether your lightstick is the newest
            one or not there is no difference other than the style upgrade. Lightsticks also come with more items in it such as photocards, stickers, and sometimes other
            random goodies that makes it even more appealing. For BTS the name of their lightstick is ARMY BOMB which is a glowing bomb that changes colors. During concerts there are projects fans
            do such as: Rainbow ocean wave, purple wave, letter wave where they create words using their lightsticks.
        </p>
    </center>

    <div class="footer">
        <b><h2>Summerfest tech event: Featuring guest speaker Steve Aoiki</h2></b>
    </div>

    <div class="card">
        <CENTER>
            <h2></h2>
        </CENTER>
        <center><img src="~/images/tech.jpg" alt="technology" width="560" height="360"></center>

        <p>
            This year several guest speakers made a appearance at the Summerfest tech event and one of the music legends himself: Steve Aoiki
            also came. I am really surprised that he was on the list too because he has collaborated with BTS on songs such as: Waste it on me and Mic drop! So I am really
            shocked I was able to experience seeing a Artist that up close. During this time he talked about his music career and how has technoloy really evolved in today's world
            and the fact that music also has evolved along with the power of technology. However he also has mention that he did also mention more about his album "Neon future" which will
            be based on more about science and technology. It is interesting to see that artists like Steve Aoiki himself can take the time to attend as a guest speaker and discuss more about
            what music and tech is to him.
        </p>

        <center><img src="~/images/tech2.jpeg" alt="Aoiki" width="560" height="460" /></center>
        <p>
            <center>
                Steve Aoiki has also collaborated with artsits such as: BTS themelves! He worked on songs such as: Waste it on me and Mic drop remix from their Love yourself series album. To see another person who has met
                BTS is really amazing. I think it also goes to show that Milwaukee is defiantly becoming much more diversed especially in music. So now that we are seeing there are more variety I think that Milwaukee's future
                summerfest could potentially have Korean pop singers attend. Even though some of the concert shows are for free I would say if someone like Steve Aoiki is willing to be the guest speaker other
                famous idols would be willing to come and support the festival too. On the sign up sheet they do ask people who they would like to see as guests speakers so this is just a way to see what kind of artists really speaks
                to them.
            </center>
        </p>

        <b><center><p>Steve Aoiki covers:</p></center></b>
        <center><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/519586092&color=%2389dad4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></center>
        <center><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/404997807&color=%23b597ff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></center>

        <center><img src="~/images/myblog .png" alt="blogpost" /></center>
    </div>

    <center><h1></h1><b><button><p><a asp-page="/blog2">Next page</a></p></button></b></h1></center>